.body-principal {
    .servicos {
        margin-bottom: 80px;
        .titulo-slick {
            text-align: center;
            font-family: 'Alata', sans-serif;
            font-weight: 600;
            margin: 15px 0px;
        }
        .slick-principal{
            .titulo-slick01{
                max-width: 180px;
                text-align: center;
            }
        }
    }
}