.body-principal {
  /* HEADER */
  /* EFEITO STICKY  */
  /* HEADER-MOBILE-LOGO*/
  /* HEADER-MOBILE-MENU-LOGO*/
}

.body-principal .header-principal {
  background-color: #212121;
  border-bottom: 2px solid #2b9348;
}

.body-principal .header-principal .nav-principal {
  /* BOTAO-MOBILE */
}

.body-principal .header-principal .nav-principal .container-img-desktop {
  max-width: 15%;
}

.body-principal .header-principal .nav-principal .container-img-desktop .logo-desktop {
  max-width: 100%;
}

.body-principal .header-principal .nav-principal .container-img-mobile {
  display: none;
}

.body-principal .header-principal .nav-principal .menu-principal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body-principal .header-principal .nav-principal .menu-principal .navbar-nav .iconeBotaoInterno {
  display: none;
}

.body-principal .header-principal .nav-principal .menu-principal .navbar-nav > a {
  color: white;
}

.body-principal .header-principal .nav-principal .menu-principal .navbar-nav > a::after {
  content: '';
  display: block;
  background: white;
  height: 2px;
  width: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.body-principal .header-principal .nav-principal .menu-principal .navbar-nav a:hover::after,
.body-principal .header-principal .nav-principal .menu-principal .navbar-nav a.active::after {
  width: 100%;
}

.body-principal .header-principal .nav-principal .navbar-toggler {
  outline: none;
  border: none;
}

.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn {
  display: block;
  color: #2b9348;
  width: 36px;
  height: 36px;
  border-top: 4px solid;
  margin: 20px 20px 0 0;
  float: right;
  position: relative;
  cursor: pointer;
}

.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn::after,
.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn::before {
  content: '';
  display: block;
  height: 4px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn.active {
  border-top-color: transparent;
}

.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn.active::after {
  margin-top: 0px;
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.body-principal .header-principal .nav-principal .navbar-toggler .mobile-btn.active::before {
  margin-top: 0px;
  top: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.body-principal .sticky.corDeFundo {
  background-color: rgba(0, 0, 0, 0.8);
}

.body-principal .sticky.corDeFundo .menu-principal .navbar-nav .nav-item {
  background-color: #2b9348;
}

@media (min-width: 768px) and (max-width: 991px) {
  .body-principal .header-principal {
    padding: 13px;
  }
  .body-principal .header-principal .nav-principal .container-img-desktop {
    display: none;
  }
  .body-principal .header-principal .nav-principal .container-img-mobile {
    display: block;
    max-width: 240px;
    position: fixed;
    top: 1px;
    left: 4%;
  }
  .body-principal .header-principal .nav-principal .container-img-mobile .logo-mobile {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .body-principal .header-principal .nav-principal {
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
  .body-principal .header-principal .nav-principal .container-img-desktop {
    display: none;
  }
  .body-principal .header-principal .nav-principal .container-img-mobile {
    display: block;
    max-width: 175px;
    position: fixed;
    top: 1px;
    left: 8%;
  }
  .body-principal .header-principal .nav-principal .container-img-mobile .logo-mobile {
    max-width: 100%;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav {
    height: 100vh;
    padding: 0 35px;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .nav-item {
    border-bottom: 3px solid #2b9348;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .nav-item:nth-child(1) {
    margin-top: 50px;
    border-top: 3px solid #2b9348;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .nav-item:nth-child(5) {
    border-bottom: 3px solid #2b9348;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .iconeBotaoInterno {
    background-color: #2b9348;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 35px;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .iconeBotaoInterno .iconeRedes > a {
    font-size: 40px;
    color: black;
  }
  .body-principal .header-principal .nav-principal .menu-principal .navbar-nav .nav-item {
    background-color: transparent;
  }
}

.body-principal {
  /* RODA-PE-DESKTOP */
  /* RODA-PE-MOBILE */
}

.body-principal .footer-principal {
  background-color: #212121;
  padding: 5%;
}

.body-principal .footer-principal p {
  font-size: 14px;
  color: white;
}

.body-principal .footer-principal h5 {
  color: #2b9348;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5%;
}

.body-principal .footer-principal .footer-conteudo {
  margin: 0 auto;
  text-align: center;
}

.body-principal .footer-principal .footer-conteudo .conteudo-1 .pro > small {
  font-size: 14px;
}

.body-principal .footer-principal .footer-conteudo .conteudo-1 small > a {
  text-decoration: none;
  color: white;
}

.body-principal .footer-principal .footer-conteudo .conteudo-1 small > a:hover {
  color: #2b9348;
}

.body-principal .footer-principal .footer-conteudo .conteudo-1 > p:nth-child(1) {
  padding-bottom: 50px;
}

.body-principal .footer-principal .footer-conteudo .conteudo-2 .rede-social {
  max-width: 35px;
  margin-left: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.body-principal .footer-principal .footer-conteudo .conteudo-2 .rede-social:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.body-principal .footer-principal .footer-conteudo .conteudo-3 ul {
  padding: 0;
  max-width: 50%;
  margin: 0 auto;
}

.body-principal .footer-principal .footer-conteudo .conteudo-3 ul li {
  color: #2b9348;
}

.body-principal .footer-principal .footer-conteudo .conteudo-3 ul li a {
  text-decoration: none;
  color: white;
}

.body-principal .footer-principal .footer-conteudo .conteudo-3 ul li a:hover {
  color: #2b9348;
}

.body-principal .footer-principal .footer-conteudo .conteudo-4 .img-pagamento {
  max-width: 55px;
  margin-left: 3%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.body-principal .footer-principal .footer-conteudo .conteudo-4 .img-pagamento:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.body-principal .footer-principal .footer-conteudo .conteudo-4 p {
  margin-top: 6%;
}

.body-principal .footer-principal .footer-conteudo .mod {
  margin: 0 auto;
}

.body-principal .footer-principal .footer-conteudo .mod .pro > small {
  font-size: 14px;
}

.body-principal .footer-principal .footer-conteudo .mod small > a {
  text-decoration: none;
  color: white;
}

.body-principal .footer-principal .footer-conteudo .mod small > a:hover {
  color: #2b9348;
}

.body-principal .footer-principal .up {
  background-color: #2b9348;
  opacity: 0.7;
  border-radius: 50px;
  bottom: 14px;
  -webkit-box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 22px;
  width: 40px;
  z-index: 1;
}

.body-principal .footer-principal .up .seta {
  position: absolute;
  right: 8px;
  top: 7px;
  max-width: 25px;
}

@media (max-width: 575px) {
  .body-principal .footer-principal .footer-conteudo .conteudo-1 {
    margin: 10px auto 0px auto;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-1 > p:nth-child(1) {
    padding-bottom: 20px;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-2 .rede-social {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-3 {
    margin: 40px auto 20px auto;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-4 {
    margin: 20px auto;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-4 .img-pagamento {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .body-principal .footer-principal .footer-conteudo {
    padding: 0;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-2 .rede-social {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-4 .img-pagamento {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body-principal .footer-principal .footer-conteudo .mod {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .body-principal .footer-principal .footer-conteudo {
    padding: 0;
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-2 .rede-social {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body-principal .footer-principal .footer-conteudo .conteudo-4 .img-pagamento {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body-principal .footer-principal .footer-conteudo .mod {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
  }
}

.body-principal .main-principal .section-contato {
  background-image: url("../img/bg-preto.jpg");
}

.body-principal .main-principal .section-contato .form-principal {
  margin: 100px auto 0 auto;
  color: white;
}

.body-principal .main-principal .section-contato .form-principal .formulario .botaoEnviar {
  padding: 11px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background-color: #2b9348;
  font-weight: 600;
  color: white;
}

.body-principal .main-principal .section-contato .form-principal .formulario .botaoEnviar:hover {
  color: #212121;
}

.body-principal .main-principal .section-contato .form-principal .formulario .form-control {
  border: 1px solid #212121;
}

.body-principal .main-principal .section-contato .form-principal .titulo-contato {
  text-align: center;
  margin: 20px auto 40px;
  font-weight: 600;
  font-family: 'Alata', sans-serif;
}

.body-principal .main-principal .d-flex .p-2:nth-child(2) {
  max-width: 50%;
  margin-left: 50px;
}

.body-principal .main-principal .d-flex .contato-parte2 {
  background-color: #2b9348;
  padding: 5px 10px 0px 10px;
  height: 225px;
}

.body-principal .main-principal .d-flex .contato-parte2 h3 {
  margin-bottom: 25px;
}

.body-principal .main-principal .d-flex .contato-parte2 ul {
  list-style: none;
}

.body-principal .main-principal .d-flex .contato-parte2 ul .fa {
  position: absolute;
  left: 5%;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 23px;
  text-align: center;
}

.body-principal .main-principal .d-flex .contato-parte2 ul .end {
  margin-left: 20px;
  height: 60px;
  font-weight: 600;
  color: white;
}

.body-principal .main-principal .d-flex .map {
  margin-top: 10px;
}

.body-principal .main-principal .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2b9348 !important;
}

@media (max-width: 767px) {
  .body-principal .main-principal .form-principal {
    margin: 100px auto 40px;
  }
  .body-principal .main-principal .d-flex {
    display: block !important;
  }
  .body-principal .main-principal .d-flex .p-2:nth-child(2) {
    max-width: unset;
    margin-left: unset;
  }
  .body-principal .main-principal .d-flex .map {
    display: none;
  }
}

@media (max-width: 374px) {
  .body-principal .contato-parte2 {
    font-size: 12px;
  }
}

.body-principal .main-principal {
  margin-top: 13px;
}

.body-principal .main-principal .parallax {
  background-attachment: fixed;
  height: 525px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.body-principal .main-principal .parallax .titulo-parallax {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 29%;
  height: 100px;
  color: white;
  text-align: center;
  font-family: 'Alata', sans-serif;
}

.body-principal .main-principal .parallax .titulo-parallax .tituloP {
  font-size: 4rem;
}

.body-principal .main-principal .parallax .titulo-parallax .tituloP::after {
  content: '|';
  margin-left: 1px;
  opacity: 1;
  -webkit-animation: pisca .7s infinite;
          animation: pisca .7s infinite;
  font-size: 80%;
}

@-webkit-keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-principal .main-principal .pi {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/salvador.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5)), url("../img/salvador.jpg");
}

@media (max-width: 425px) {
  .body-principal .main-principal .parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .body-principal .main-principal .parallax .titulo-parallax {
    width: unset;
    width: 60%;
  }
  .body-principal .main-principal .parallax .titulo-parallax .tituloP {
    font-size: 35px;
  }
}

@media (min-width: 426px) and (max-width: 991px) {
  .body-principal .main-principal .parallax .titulo-parallax {
    width: unset;
    width: 50%;
  }
  .body-principal .main-principal .parallax .titulo-parallax .tituloP {
    font-size: 50px;
  }
}

.body-principal .table-titulo {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-weight: 600;
  margin: 0 0 30px;
}

.body-principal .table {
  background-color: #212121;
  color: white;
  font-size: 64%;
  -webkit-box-shadow: 10px 10px 10px #000000;
          box-shadow: 10px 10px 10px #000000;
}

.body-principal .table .table-text {
  text-align: center;
}

.body-principal .table .table-text:hover {
  background-color: red;
}

.body-principal .table-green:hover {
  background-color: #2b9348;
}

.body-principal .separador-03 {
  background-image: url("../img/separador/kit-03.png");
  background-repeat: no-repeat;
  height: 65px;
  margin: 25px auto;
  max-width: 70%;
}

.body-principal .separador-02 {
  background-image: url("../img/separador/kit-02.png");
  background-repeat: no-repeat;
  height: 65px;
  margin: 25px auto;
  max-width: 70%;
}

.body-principal .separador-01 {
  background-image: url("../img/separador/kit-01.png");
  background-repeat: no-repeat;
  height: 65px;
  margin: 0 auto;
  max-width: 70%;
}

@media (min-width: 1200px) and (max-width: 2560px) {
  .body-principal .separador-01,
  .body-principal .separador-02,
  .body-principal .separador-03 {
    max-width: 85%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .body-principal .separador-01,
  .body-principal .separador-02,
  .body-principal .separador-03 {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .body-principal .separador-03 {
    background-image: url("../img/separador/kit-03-s.png");
    background-repeat: no-repeat;
    height: 65px;
    margin: 25px auto;
    max-width: 65%;
  }
  .body-principal .separador-02 {
    background-image: url("../img/separador/kit-02-s.png");
    background-repeat: no-repeat;
    height: 65px;
    margin: 25px auto;
    max-width: 65%;
  }
  .body-principal .separador-01 {
    background-image: url("../img/separador/kit-01-s.png");
    background-repeat: no-repeat;
    height: 65px;
    margin: 0 auto;
    max-width: 65%;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .body-principal .separador-03 {
    background-image: url("../img/separador/kit-03-sm.png");
    max-width: 65%;
  }
  .body-principal .separador-02 {
    background-image: url("../img/separador/kit-02-sm.png");
    max-width: 65%;
  }
  .body-principal .separador-01 {
    background-image: url("../img/separador/kit-01-sm.png");
    max-width: 65%;
  }
}

@media (max-width: 425px) {
  .body-principal .separador-03 {
    background-image: url("../img/separador/kit-03-sm.png");
    max-width: 65;
  }
  .body-principal .separador-02 {
    background-image: url("../img/separador/kit-02-sm.png");
    max-width: 65;
  }
  .body-principal .separador-01 {
    background-image: url("../img/separador/kit-01-sm.png");
    max-width: 65;
  }
}

@media (max-width: 320px) {
  .body-principal .separador-03 {
    background-image: url("../img/separador/kit-03-sm.png");
    max-width: 90%;
  }
  .body-principal .separador-02 {
    background-image: url("../img/separador/kit-02-sm.png");
    max-width: 90%;
  }
  .body-principal .separador-01 {
    background-image: url("../img/separador/kit-01-sm.png");
    max-width: 90%;
  }
}

.body-principal .main-principal .carousel .slick-arrow {
  display: none !important;
}

.body-principal .main-principal .carousel .slick-dots {
  display: none !important;
}

@media (max-width: 479px) {
  .body-principal .main-principal .img-slick {
    margin: 0 auto;
  }
  .body-principal .main-principal .titulo-slick01 {
    margin: 0 auto;
  }
}

.body-principal .servicos {
  margin-bottom: 80px;
}

.body-principal .servicos .titulo-slick {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-weight: 600;
  margin: 15px 0px;
}

.body-principal .servicos .slick-principal .titulo-slick01 {
  max-width: 180px;
  text-align: center;
}
/*# sourceMappingURL=estilo.css.map */