.body-principal {

    .separador-03 {
        background-image: url('../img/kit-03.png');
        background-repeat: no-repeat;
        height: 65px;
        margin: 25px auto;
        max-width: 70%;
    }

    .separador-02 {
        background-image: url('../img/kit-02.png');
        background-repeat: no-repeat;
        height: 65px;
        margin: 25px auto;
        max-width: 70%;
    }

    .separador-01 {
        background-image: url('../img/kit-01.png');
        background-repeat: no-repeat;
        height: 65px;
        margin: 0 auto;
        max-width: 70%;
    }
}