.body-principal {
    #servicos {
        padding-top: 1px;
        margin-bottom: 80px;

        .titulo-slick {
            text-align: center;
            font-family: 'Alata', sans-serif;
            font-weight: 600;
            margin: 15px 0px;
        }

        .slick-principal {
            .titulo-slick01 {
                max-width: 180px;
                text-align: center;
            }
        }
    }

    .main-principal {
        .carousel {
            .slick-arrow {
                display: none !important;
            }

            .slick-dots {
                display: none !important;
            }
        }

        @media (max-width: 479px) {
            .img-slick {
                margin: 0 auto;
            }

            .titulo-slick01 {
                margin: 0 auto;
            }
        }
    }
}