@import "./_topo.scss";
@import "./_rodaPe.scss";
@import "./_contato.scss";
@import "./_parallax-top.scss";
@import "./_horario.scss";
@import "./_separador.scss";
@import "./_slick.scss";
@import "./_duvida.scss";

.body-principal {
    
  .main-principal {

    .msgConfir {
      background-color: #212121;
      position: absolute;
      left: 16%;
      top: 330%;
      color: white;
      font-weight: 700;
      font-size: 20px !important;
      padding: 25px;
      border-radius: 50px;
    }
  }
}